# Exercise: Add query functions

### Task 1: Establish a connection

In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "richardson", password = "pass@123", db = "littlelemondb")

In [3]:
cursor = connection.cursor()

In [4]:
print(connection.database)

little_lemon_db

### Task two

In [5]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [6]:
results = cursor.fetchall()
for table in results:
    print(table)

('bookings',)
('customers',)
('employees',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)

### Task three

In [7]:
query = """
SELECT c.FullName, c.ContactNumber, c.Email, o.TotalCost
FROM Customers c
INNER JOIN Bookings b ON c.CustomerID = b.CustomerID
INNER JOIN Orders o ON o.BookingID = b.BookingID
WHERE o.TotalCost > 60;
"""

In [8]:
cursor.execute(query)

In [9]:
print(cursor.column_names)
for row in cursor:
    print(row)

('FullName', 'ContactNumber', 'Email', 'TotalCost')
('Desirae Clark', '(437) 548-3469', 'in@protonmail.net', 86)
('Holmes Stokes', '1-774-864-1571', 'etiam@yahoo.org', 65)
('Judith Clemons', '(835) 818-1713', 'ridiculus.mus@hotmail.couk', 70)
('Desirae Clark', '(437) 548-3469', 'in@protonmail.net', 80)